.homeone {
  color: #00ab15;
}
.home-text {
  color: rgb(38, 42, 45);
  font-family: "Poppins", sans-serif;
}
.study img {
  transform: translate3d(0.5px, -13.8px, 0px);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  position: relative;
  display: block;
  left: 0px;
  top: 0px;
}

.student-card {
  position: relative;
  width: 100px;
  height: 100px;
  color: #03382e;
  text-align: center;
  line-height: 100px;
  font-weight: 400;
  font-size: 60px;
  margin-bottom: 0px;
  border-radius: 50px;
  display: inline-block;
  background-color: #fbdddd;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  margin-top: 50px;
  margin-bottom: 20px;
}
.content {
  position: relative;
  text-align: center !important;
  padding-right: 0px !important;
  width: 300px;
  height: 400px;
  background-color: #f8f9fa;
}
.fifty {
  position: relative;
  font-weight: 700;
  color: #03382e;
  font-size: 60px;
  line-height: 1em;
}
.title-tex {
  color: #03382e;
}
